@import "../../../../styles/abstracts/variables";
@import "../../../../styles/components/card";

.login_form {
    @include card_default;
    display: flex;
    height: 400px;
    width: 300px;
    flex-direction: column;
    justify-content: space-around;

    header {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        align-items: center;
        padding: 0 41px;

        img {
            width: 50px;
            filter: invert(0%) sepia(30%) saturate(16%) hue-rotate(135deg) brightness(0%) contrast(100%);
        }

        span {
            font-size: 2rem;
        }
    }

    .login_footer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
